* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
    color: #000;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 400;
}
section {
    padding: 60px 0;
}
.row {
    width: 1140px;
    margin: 0 auto;
}
h1 {
    color: #34495e;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.4;
    border-left: 5px solid #55efc4;
    padding-left: 10px;
    margin-bottom: 15px;
}
h2 {
    color: #34495e;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}
h3 {
    font-size: 24px;
    margin: 15px 0;
}
a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #55efc4;
    border-radius: 5px;
    
}
/*  Hero Section */
#hero {
    height: 100vh;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 120px;
}
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text-box {
    width: 50%;
}
.hero-text-box h1 span {
    color: #55efc4;
    letter-spacing: 2px;
}
.hero-text-box p {
    line-height: 1.4;
}
.button {
    margin: 40px 0;
}
.hero-image {
    width: 50%;
    margin: auto;
    text-align: center;
}
.hero-image img {
    width: 70%;
}
/* Mission Section */
#mission {
    background-image: url(images/mission.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#mission h2 span {
    color: #55efc4;    ;
}
.mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mission-content {
    background-color: #ffeaa7;
    padding: 40px 40px;
    margin: 10px;
    border-radius: 10px;
}
.mission-content:first-child{
    background-color: #edf5f6;
    width: 33%;
}
.mission-content:nth-child(2) {
    background-color: #ffeeee;
    width: 33%;
}
.mission-content:last-child {
    background-color: #fff4d6;
    width: 33%;
}
.mission-content:first-child img {
    width: 32%;
}
.mission-content:nth-child(2) img {
    width: 30%;
}
.mission-content:last-child img {
    width: 30%;
}
.mission-content p {
    font-size: 15px;
    line-height: 1.4;
}
/* Develop Section */
.develop-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.develop-image img {
    width: 80%;
}
.development-content h2 {
    text-align: left;
    margin-bottom: 15px;
}
.development-content p {
    line-height: 1.4;
    width: 80%;
}
/* Global Community Section */
#global-community {
    background-image: url(images/community-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.global-community-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.global-community-content h2 {
    text-align: left;
    margin-bottom: 15px;
}
.global-community-content p {
    line-height: 1.4;
    width: 80%;
}
.global-community-image {
    text-align: center;
}
.global-community-image img {
    width: 80%;
}
/* Contact Section */
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-image {
    width: 50%;
}
.contact-image img {
    width: 80%;
}
.contact-form {
    width: 40%;
    background-color: #f7f7f7;
    padding: 45px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.contact-form input[type="text"],.contact-form input[type="email"],
.contact-form textarea {
    padding: 15px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    color: #55efc4;    ;
    background-color: #fff;
    font-size: 15px;
    border: 0;
    outline: none;
}
.contact-form input[type="submit"] {
    width: 50%;
    margin: auto;
    padding: 15px;
    font-size: 15px;
    margin-top: 15px;
    color: #fff;    ;
    background-color: #55efc4;
    border: 0;
    outline: none;
}
.contact-form ::placeholder {
    color: #000;
    opacity: 1;
}
.contact-form input[type="submit"]:hover {
    cursor: pointer;
}
/* Footer Section */
.footer-content {
    text-align: center;
    background-color: #0b0d17;
    padding: 40px 0;
    color: #fff;
}
.footer-content h3 {
    margin-bottom: 15px;
}
.footer-content h3 span {
    color: #55efc4;
}